* {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none !important;
}

body {
  display: inline-flex;
  max-height: 100vh;
  width: 100vw;
  margin: 0px;
  background-color: #eeeeee;
  color: #393f44;
}

footer {
  display: flex;
  margin: 20px;
  justify-content: center;
  text-align: center;
  color: #919191;
}

h1 {
  font-size: 28px;
  font-weight: 600;
}

h2 {
  margin-top: 0px;
  font-size: 24px;
  font-weight: 500;
}

h3 {
  min-width: 100%;
  margin-top: 0px;
  font-size: 18px;
  font-weight: 500;
}

h4 {
  margin: 0;
  font-size: 18px;
}

input {
  padding: 0px 5px;
  background-color: #fafafa;
  border: 0px;
  color: #393f44;
}

section {
  margin-bottom: 40px;
}

table td {
  padding: 5px;
}

table .error {
  color: #ff0000;
}

ul {
  list-style-type: none;
}

#nav {
  display: inline-flex;
  width: 14vw;
  min-width: 180px;
  min-height: 100vh;
  top: 0px;
  left: 0px;
  bottom: 0px;
  flex-direction: column;
}

#nav .nav-title {
  margin-bottom: 20px;
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
}

#nav .nav-buttons {
  padding: 20px 0px 20px 20px;
  flex-grow: 2;
  justify-content: flex-end;
}

#nav .nav-button {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
}

#welcomeStage {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#welcomeStage .create-account {
  text-align: center;
}

#welcomeStage .create-account-submit  {
  margin-top: 10px;
}

#loginStage {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#loginStage .login-stage {
  padding: 30px;
  border-radius: 25px;
}

#loginStage form {
  margin: 0px;
}

#connectStage {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#connectStage .source {
  margin: 10px;
}

#connectStage .redirect {
  padding: 10px;
}

#connectStage .redirect .redirect-response {
  margin-top: 10px;
}

#connectStage .redirect .redirect-response button {
  margin-left: 10px;
}

#connectStage .continue {
  margin-top: 20px;
}

#connectOnedriveStage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#dashboardStage {
  display: flex;
  min-height: 100%;
}

#dashboardStage #fileDetailsPane {
  min-width: 25vw;
  max-width: 320px;
  min-height: 100vh;
  position: sticky;
  top: 0;
  z-index: 1;
}

#dashboardStage #fileDetailsPane .file-thumbnail {
  display: flex;
  width: 100%;
  min-height: 100px;
  max-height: 20vw;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

#dashboardStage #fileDetailsPane .file-thumbnail img {
  min-width: 100%;
  align-self: flex-start;
}

#dashboardStage #fileDetailsPane .file-thumbnail .file-thumbnail-text {
  padding: 30px;
}

#dashboardStage #fileDetailsPane .file-thumbnail .file-thumbnail-text .file-thumbnail-text-link {
  cursor: pointer;
}

#dashboardStage #fileDetailsPane .file-info {
  width: 100%;
  padding: 10px;
}

#dashboardStage #fileDetailsPane .file-info .file-info-head {
  display: flex;
  align-items: center;
}

#dashboardStage #fileDetailsPane .file-info .file-info-title {
  flex-grow: 1;
  flex-wrap: wrap;
  font-size: 18px;
  font-weight: 500;
}

#dashboardStage #fileDetailsPane .file-info .file-info-title:hover {
  text-decoration: underline;
  cursor: pointer;
}

#dashboardStage #fileDetailsPane .file-info .file-info-starred {
  margin: 10px;
  color: #ffc107;
  cursor: pointer;
}

#dashboardStage #fileDetailsPane .file-info .version {
  font-size: 12px;
}

#dashboardStage #fileDetailsPane .file-info .file-info-properties {
  display: inline-flex;
  margin-top: 20px;
  flex-direction: column;
}

#dashboardStage #fileDetailsPane .file-info .file-info-properties .modified {
  display: flex;
  margin-top: 5px;
}

#dashboardStage #fileDetailsPane .file-info .file-info-properties .modified .modified-time {
  flex-grow: 1;
  flex-wrap: wrap;
}

#dashboardStage #fileDetailsPane .file-info .file-info-properties .modified .modified-by {
  flex-wrap: wrap;
  text-align: end;
  font-size: 12px;
}

#dashboardStage .mainPane {
  min-height: 100%;
  padding: 10px;
  flex-grow: 1;
  z-index: 0;
}

#dashboardStage .return {
  margin: 10px;
}

#dashboardStage .labelStrip {
  display: flex;
}

#dashboardStage .label {
  display: inline-flex;
  margin: 20px 10px 10px 10px;
  padding: 5px;
  align-items: center;
  flex-grow: 1;
  font-size: 14px;
  color: #757575;
}

#dashboardStage .label img {
  max-height: 14px;
  margin-left: 30px;
  margin-bottom: 5px;
}

#dashboardStage .label .label-text {
  padding: 0px 5px;
}

#dashboardStage .pages {
  display: inline-flex;
  flex-wrap: wrap;
}

#dashboardStage .pages .page {
  margin-right: 5px;
  color: #757575 !important;
  cursor: pointer;
}

#dashboardStage .sorting {
  justify-content: flex-end;
}

#dashboardStage .sorting .inline {
  display: inline-flex;
}

#dashboardStage .sorting .sort-criteria {
  margin: 0 5px;
  cursor: pointer;
}

#dashboardStage .sorting .sort-criteria .criteria {
  margin: 0 2px;
}

#dashboardStage .folder-tray {
  display: flex;
  max-height: 200px;
  flex-wrap: nowrap;
  overflow: auto;
}

#dashboardStage .file-tray {
  display: flex;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

#dashboardStage .tile {
  display: flex;
  min-width: 150px;
  min-height: 150px;
  max-width: 150px;
  max-height: 150px;
  margin: 5px;
  flex-direction: column;
  color: #757575;
}

#dashboardStage .tile:hover {
  background-color: #e0e0e0;
}

#dashboardStage .tile .tile-top {
  margin: 5px;
  font-size: 11px !important;
}

#dashboardStage .tile .tile-top i {
  font-size: 18px !important;
}

#dashboardStage .tile .tile-content {
  flex-grow: 1;
  margin: 10px;
  text-align: left;
  overflow: hidden;
}

#dashboardStage .tile .tile-bottom {
  display: flex;
  margin: 5px;
  justify-content: flex-end;
  font-size: 12px !important;
}

#dashboardStage .tile .tile-bottom i {
  color: #4caf50;
}

#dashboardStage .tile .tile-bottom img {
  max-height: 12px;
}

#dashboardStage .tiles .tile .tile-text {
  max-height: 60px;
  overflow-wrap: break-word;
}

#dashboardStage .folders .folder .folder-text {
  display: inline-flex;
  flex-wrap: nowrap;
}

.background-accent {
  background-color: #4CAF50;
}

.background-accent-light {
  background-color: #81c784;
}

.background-primary {
  background-color: #eeeeee;
}

.background-secondary {
  background-color: #fafafa;
}

.background-secondary-light {
  background-color: #f5f5f5;
}

.background-secondary-strong {
  background-color: #757575;
}

.blur {
  filter: blur(5px);
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.drop-shadow {
  box-shadow: 1px 1px 10px #bdbdbd;
}

.drop-shadow-light {
  box-shadow: 1px 1px 5px #bdbdbd;
}

.invisible {
  visibility: hidden;
}

.input {
  background-color: #fafafa;
}

.input input:focus + .label-floor {
  background-color: #4CAF50;
}

.input .label-floor {
  background-color: #9e9e9e;
}

.label-floor {
  min-width: 100%;
  height: 2px;
  margin-top: 5px;
  background-color: #757575;
}

.paralax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.stages {
  flex-grow: 1;
  overflow: hidden;
}

.stages .stage {
  height: 100%;
  max-width: 100%;
  overflow: auto;
}

.text-center {
  text-align: center;
}

.text-color-accent {
  color: #0097a7 !important;
}

.text-color-inverse {
  color: #fafafa;
}

.text-color-muted {
  color: #757575;
}

.text-color-primary {
  color: #393f44 !important;
}

.text-shaddow {
  text-shadow: 2px 2px #212121;
}
