* {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none !important;
}

body {
  padding-top: 50px;
  background-color: #eeeeee;
  color: #393f44;
}

footer {
  display: flex;
  margin: 20px;
  justify-content: center;
  text-align: center;
  color: #919191;
}

h1 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 600;
}

h2 {
  margin-bottom: 20px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: 500;
}

h3 {
  min-width: 100%;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 24px;
  font-weight: 500;
}

h4 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
}

input {
  color: #393f44;
  background-color: #eeeeee;
}

section {
  margin-bottom: 40px;
}

ul {
  list-style-type: none;
}

#nav {
  display: inline-flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

#nav .nav-logoTitle {
  flex-grow: 1
}

#nav .nav-logoTitle .nav-logo {
  margin-right: 20px;
}

#nav .nav-logoTitle .nav-title {
  font-size: 20px;
  font-weight: 700;
}

#nav .nav-buttons {
  flex-grow: 2;
  justify-content: flex-end;
}

#nav .nav-butttons .nav-button {
  font-size: 18px;
  font-weight: 500;
}

#loginStage {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#loginStage .login-stage {
  padding: 30px;
  border-radius: 25px;
}

#loginStage .login-stage form {
  margin: 0px;
}

#loginStage .login-stage .login-stage-submit {
  display: flex;
  justify-content: center;
}

.background-accent {
  background-color: #4CAF50;
}

.background-primary {
  background-color: #eeeeee;
}

.background-secondary {
  background-color: #bdbdbd;
}

.background-secondary-strong {
  background-color: #757575;
}

.blur {
  filter: blur(5px);
}

.drop-shadow {
  box-shadow: 1px 1px 10px #bdbdbd;
}

.hide {
  display: none;
}

.paralax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-center {
  text-align: center;
}

.text-color-accent {
  color: #0097a7 !important;
}

.text-color-inverse {
  color: #fafafa;
}

.text-color-muted {
  color: #757575;
}

.text-color-primary {
  color: #393f44 !important;
}

.text-shaddow {
  text-shadow: 2px 2px #212121;
}
