<html ng-app="binder" ng-controller="appController">

<head>
  <title>Binder</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="index-css.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="appModel.js"></script>
  <script src="appController.js"></script>
</head>
<nav id="nav" class="navbar navbar-fixed-top background-primary text-color-invert">
  <i class="large material-icons">folder</i>
  <span class="nav-title">Binder</span>
</nav>

<body>
  <div class="sources">
    <div class="source background-secondary" ng-repeat="source in sources | orderBy:'name'">
      <div class="heading">
        {{source.name}}
      </div>
      <div class="">
        {{source.desc}}
      </div>
    </div>
  </div>
  <div ng-repeat="person in people">
    <p>
      Firstname: <input type="text" ng-model="person.firstname" />
    </p>
    <p>
      Lastname: <input type="text" ng-model="person.lastname" />
    </p>
    <p>
      Full name: {{person.firstname + " " + person.lastname}}
    </p>
  </div>
</body>

</html>
