<html ng-app="client">

<head>
	<base href="/">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Binder</title>

	<link href="https://fonts.googleapis.com/css?family=Montserrat|Helvetica+Neue" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/app.client.css" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-route.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-cookies.js"></script>

	<script src="../modules/angular-bootstrap-contextmenu/contextMenu.js"></script>
	<script src="../angular/app.client.js"></script>
</head>

<body>
	<div class="background"></div>
	<div id="nav" ng-if="!hideNavBar">
		<div class="nav-title text-color-primary">Binder</div>
		<div class="divider"></div>
		<div class="nav-buttons">
			<div class="nav-button nav-search" ng-if="searching">
				<form ng-submit="searching.search(searching.searchQuery)">
					<input type="text" placeholder="Search" ng-model="searching.searchQuery" />
				</form>
				<i class="material-icons" ng-click="searching.search(searching.searchQuery)">search</i>
			</div>
			<div class="nav-button background-accent-light" ng-repeat="item in navButtons">
				<a ng-if="item.folder" ng-href="/files?sourceId={{item.source}}&folderId={{item.folder}}">{{item.text}}</a>
				<a ng-if="item.page" ng-href="/{{item.page}}">{{item.text}}</a>
			</div>
		</div>
		<div class="divider"></div>
		<div class="account" ng-if="loggedInUser">
			<div class="account-avatars">
				<img ng-src="loggedInUser.avatar" ng-if="loggedInUser.profile.avatar">
				<i class="material-icons account-avatar" ng-if="!loggedInUser.profile.avatar">face</i>
			</div>
			<div>
				<div class="account-name">
					{{loggedInUser.profile.firstname}} {{loggedInUser.profile.lastname}}
				</div>
				<div class="account-actions">
					<a class="text-color-primary" href="account">Account</a>
					<span class="action-separator text-color-muted">●</span>
					<a class="text-color-primary" href="" ng-click="logoutUser()">Logout</a>
				</div>
			</div>
		</div>
	</div>

	<div class="stages">
		<ng-view></ng-view>
	</div>
</body>

</html>