<div id="loginStage" class="stage">
	<div class="title">Binder</div>
	<div class="main-pane background-secondary-light drop-shadow">
		<h1>Welcome back!</h1>
		<h2>Let's get you signed in...</h2>
		<form name="loginForm">
			<table class="center-content">
				<tr>
					<td>Email Address</td>
					<td>
						<div class="input">
							<input type="email" name="email" ng-model="email" required placeholder="email@example.com" ng-blur="onEmailExit()" ng-class="{'invalid-input': emailInvalid}"
							/>
							<div class="label-floor"></div>
						</div>
					</td>
				</tr>
				<tr>
					<td>Password</td>
					<td>
						<div class="input">
							<input type="password" name="password" ng-model="password" required />
							<div class="label-floor"></div>
						</div>
					</td>
				</tr>
			</table>
			<div class="error" ng-show="error.exists">{{error.message}}</div>
			<button type="submit" class="btn text-color-inverse background-accent" ng-click="login()">Login</button>
		</form>
	</div>
</div>