<div id="welcomeStage" class="stage center">
	<div class="create-account" ng-show="!userFound">
		<h1>Hi! This is Binder!</h1>
		<h2>Get started by creating an account</h2>
		<form name="createAccountForm">
			<table class="center-content background-primary">
				<tr>
					<td>Email Address</td>
					<td>
						<div class="input">
							<input type="email" name="email" ng-model="email" required placeholder="email@example.com" />
							<div class="label-floor"></div>
						</div>
					</td>
				</tr>
				<tr>
					<td>Password</td>
					<td>
						<div class="input">
							<input type="password" name="password" ng-model="password" required />
							<div class="label-floor"></div>
						</div>
					</td>
				</tr>
				<tr>
					<td>Confirm password</td>
					<td>
						<div class="input">
							<input type="password" name="passwordconfirm" ng-model="passwordconfirm" required />
							<div class="label-floor"></div>
						</div>
					</td>
				</tr>
				<tr class="center-content">
					<td>
						<div class="error" ng-show="error.exists">{{error.message}}</div>
					</td>
				</tr>
				<tr class="center-content">
					<td>
						<button type="submit" class="btn create-account-submit text-color-inverse background-accent" ng-click="createAccount()">Create Account</button>
						or
						<button type="submit" class="btn create-account-submit text-color-inverse background-accent" ng-click="login()">Go to Login</button>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>