<div id="dashboardStage" class="stage">
  <div class="status-box" ng-if="requestStatus.loadingSources">
    <i class="status-box-loading material-icons">autorenew</i>
    <h1>Getting your sources....</h1>
  </div>
  <div class="status-box" ng-if="!requestStatus.loadingSources && requestStatus.errorLoading">
    <i class="material-icons">error_outline</i>
    <h1>Couldn't get your sources</h1>
    <h3>If this error persits, try reconnecting your sources to your account.</h3>
    <h3>For more help contact support.</h3>
  </div>
  <div class="status-box" ng-if="!requestStatus.loadingSources && !requestStatus.errorLoading && sources.length == 0">
    <i class="material-icons">error_outline</i>
    <h1>The server responded with an empty source list</h1>
    <h3>Please report this!</h3>
  </div>
  <div class="source-tray" ng-if="!requestStatus.loadingSources && !requestStatus.errorLoading && sources.length != 0">
    <div class="source-tile drop-shadow-light" ng-repeat="source in sources">
      <div class="source-graphic-box">
        <img class="source-graphic" ng-src="../css/img/{{source.id}}_lockup.png">
      </div>
      <div class="source-status">
        <span ng-if="source.id != 'dropbox'">{{user.connectedSources.includes(source.id) ? 'Connected' : 'Not connected'}}</span>
        <span ng-if="source.id == 'dropbox'">Support for Dropbox is coming soon</span>
        <span ng-if="source.id == 'onedrive'"><br/>*unstable*</span>
      </div>
      <a class="source-enter" ng-href="/files?sourceId={{source.id}}&folderId=root" ng-style="styles[source.id]" ng-show="user.connectedSources.includes(source.id)">
        View files
      </a>
      <a class="source-enter source-connect" ng-href="/connect?forceUpdate=true" ng-show="!user.connectedSources.includes(source.id) && source.id != 'dropbox'">
        Connect Source
      </a>
    </div>
  </div>
</div>