<div id="loginStage" class="stage center">
	<h1>Welcome back!</h1>
	<h2>Let's get you signed in...</h2>
	<form name="loginForm">
		<table class="center-content background-primary">
			<tr>
				<td>Email Address</td>
				<td>
					<div class="input">
						<input type="email" name="email" ng-model="email" required placeholder="email@example.com" />
						<div class="label-floor"></div>
					</div>
				</td>
			</tr>
			<tr>
				<td>Password</td>
				<td>
					<div class="input">
						<input type="password" name="password" ng-model="password" required />
						<div class="label-floor"></div>
					</div>
				</td>
			</tr>
			<tr class="center-content">
				<td>
					<div class="error" ng-show="error.exists">{{error.message}}</div>
				</td>
			</tr>
			<tr class="center-content">
				<td>
					<button type="submit" class="btn create-account-submit text-color-inverse background-accent" ng-click="login()">Login</button>
				</td>
			</tr>
		</table>
	</form>
</div>