<div class="popup select-popup drop-shadow-strong">
  <div class="popup-close text-color-primary">
    <div ng-click="popup.close(false)">
      <i class="material-icons">close</i>
      Cancel
    </div>
  </div>
  <h1 class="text-color-accent">{{popup.title}}</h1>
  <p class="text-color-muted" ng-if="!popup.detailsArray">{{popup.details}}</p>
  <p class="text-color-muted" ng-if="popup.detailsArray">
    <span ng-repeat="line in popup.detailsArray">{{line}}<br ng-if="!$last"/></span>
  </p>
  <div class="option-list">
    <div class="option" ng-repeat="option in popup.options" ng-click="popup.selectOption($index)" ng-class="{'background-accent text-color-inverse': popup.selectedOption == $index}">
      {{option}}
    </div>
  </div>
  <div class="center-content" ng-show="popup.selectedOption >= 0">
    <button class="btn background-accent text-color-inverse" ng-click="popup.close(true)">Done</button>
  </div>
</div>