<div id="dashboardStage" class="stage">
  <div class="status-box" ng-if="requestStatus.loadingSources">
    <i class="status-box-loading material-icons">autorenew</i>
    <h1>Getting your sources....</h1>
  </div>
  <div class="status-box" ng-if="!requestStatus.loadingSources && requestStatus.errorLoading">
    <i class="material-icons">error_outline</i>
    <h1>Couldn't get your sources</h1>
    <h3>If this error persits, try reconnecting your sources to your account.</h3>
    <h3>For more help contact support.</h3>
  </div>
  <div class="status-box" ng-if="!requestStatus.loadingSources && !requestStatus.errorLoading && sources.length == 0">
    <i class="material-icons">error_outline</i>
    <h1>The server responded with an empty source list</h1>
    <h3>Please report this!</h3>
  </div>
  <div class="source-tray" ng-if="!requestStatus.loadingSources && !requestStatus.errorLoading && sources.length != 0">
    <div class="tile drop-shadow-light" ng-repeat="tile in tiles">
      <div class="tile-box source-tile" ng-if="tile.type == 'files'">
        <div class="source-graphic-box">
          <img class="source-graphic" ng-src="../css/img/{{tile.source.id}}_lockup.png">
        </div>
        <div class="tile-status">
          {{user.connectedSources.includes(tile.source.id) ? 'Connected' : 'Not connected'}}
          <span ng-if="tile.source.id == 'dropbox'"><br/>*unstable*</span>
        </div>
        <a class="tile-enter" ng-href="/files?sourceId={{tile.source.id}}&folderId=root" ng-style="styles[tile.source.id]" ng-show="user.connectedSources.includes(tile.source.id)">
          View files
        </a>
        <a class="tile-enter source-connect" ng-href="/connect?forceUpdate=true" ng-show="!user.connectedSources.includes(tile.source.id)">
          Connect Source
        </a>
      </div>
      <div class="tile-box" ng-if="tile.type == 'upload' && user.connectedSources.includes(tile.source.id)">
        <div class="source-graphic-box">
          <img class="source-graphic" ng-src="../css/img/{{tile.source.id}}_lockup.png">
        </div>
        <div class="tile-status center-content text-color-muted">
          <i class="material-icons">file_upload</i>
        </div>
        <a class="tile-enter background-secondary text-color-primary">
          Upload files *coming soon*
        </a>
      </div>
      <div class="tile-box" ng-if="tile.type == 'search' && user.connectedSources.includes(tile.source.id)">
        <div class="source-graphic-box">
          <img class="source-graphic" ng-src="../css/img/{{tile.source.id}}_lockup.png">
        </div>
        <div class="tile-status center-content text-color-muted">
          <i class="material-icons">search</i>
        </div>
        <a class="tile-enter background-secondary text-color-primary" ng-href="/files/search?q=root&sourceId={{tile.source.id}}">
          Search
        </a>
      </div>
    </div>
  </div>
</div>