<html ng-app="client" ng-controller="clientCtrl">

<head>
  <title>Binder</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet" >
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="../css/index.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="../angular/client.js"></script>
  <script src="../angular/clientCtrl.js"></script>
</head>
<nav id="nav" class="navbar navbar-fixed-top background-primary text-color-invert">
  <div class="nav-logoTitle">
    <i class="large material-icons">folder</i>
    <span class="nav-title">Binder</span>
  </div>
  <div class="nav-buttons">
    <div class="nav-button" ng-repeat="item in navButtons">
      <a href={{item.url}} class="text-color-invert">{{item.text}}</a>
    </div>
  </div>
</nav>
<body>
  <div id="loginStage">
    <form name="loginForm">
      <div class="username">
        Username
        <input type="text" name="username" ng-model="user.username" required />
      </div>
      <div class="password">
        Password
        <input type="password" ng-model="user.password" />
      </div>
      <button type="submit" ng-click="appStage.login.onSubmit()">Login</button>
    </form>
    <div ng-show="!loginForm.username.$valid">Wrong username</div>
  </div>
</body>

</html>
