<html ng-app="client" ng-controller="clientCtrl">

<head>
  <title>Binder</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="../css/index.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="../angular/app.client.js"></script>
  <script src="../model/app.module.user.js"></script>
</head>
<nav id="nav" class="navbar navbar-fixed-top background-accent text-color-inverse">
  <div class="nav-logoTitle">
    <i class="large material-icons">folder</i>
    <span class="nav-title">Binder</span>
  </div>
  <div class="nav-buttons">
    <div class="nav-button" ng-repeat="item in navButtons">
      <a href={{item.url}} class="text-color-inverse">{{item.text}}</a>
    </div>
  </div>
</nav>

<body>
  <div id="welcomeStage" class="w3-container center" ng-controller="welcomeCtrl" ng-show="stage.focused">
    <div class="create-account" ng-show="!userFound">
      <h1>Hi! This is Binder!</h1>
      <h2>Get started by creating an account</h2>
      <form name="createAccountForm">
        <table class="center-content background-primary">
          <tr>
            <td>Email Address</td>
            <td>
              <input type="email" name="email" ng-model="email" required placeholder="email@example.com" />
            </td>
          </tr>
          <tr>
            <td>Password</td>
            <td>
              <input type="text" name="password" ng-model="password" required />
            </td>
          </tr>
          <tr>
            <td>Confirm password</td>
            <td>
              <input type="text" name="passwordconfirm" ng-model="passwordconfirm" required />
            </td>
          </tr>
          <tr class="center-content">
            <td>
              <div class="error" ng-show="error.exists">{{error.message}}</div>
            </td>
          </tr>
          <tr class="center-content">
            <td>
              <button type="submit" class="btn create-account-submit text-color-inverse background-accent" ng-click="createAccount()">Create Account</button>
              or
              <button type="submit" class="btn create-account-submit text-color-inverse background-accent" ng-click="login()">Login</button>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
  <div id="loginStage" class="w3-container center" ng-controller="loginCtrl" ng-show="stage.focused">
    <div class="login-stage background-accent drop-shadow text-color-inverse">
      <button class="btn return text-color-primary background-primary" ng-show="canReturn" ng-click="return()">
        <i class="material-icons">arrow_back</i>
      </button>
      <form name="loginForm">
        <table class="center-content text-color-inverse">
          <tr>
            <td>Email Address</td>
            <td>
              <input type="email" name="email" ng-model="email" required placeholder="email@example.com" />
            </td>
          </tr>
          <tr>
            <td>Password</td>
            <td>
              <input type="text" name="password" ng-model="password" required />
            </td>
          </tr>
          <tr class="center-content">
            <td>
              <div class="error" ng-show="error.exists">{{error.message}}</div>
            </td>
          </tr>
          <tr class="center-content">
            <td>
              <button type="submit" class="btn create-account-submit text-color-primary background-primary" ng-click="login()">Login</button>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</body>

</html>