<html ng-app="client" ng-controller="clientCtrl">

<head>
  <title>Binder</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="../css/index.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="../angular/app.client.js"></script>
  <script src="../angular/app.component.login.js"></script>
</head>
<nav id="nav" class="navbar navbar-fixed-top background-accent text-color-inverse">
  <div class="nav-logoTitle">
    <i class="large material-icons">folder</i>
    <span class="nav-title">Binder</span>
  </div>
  <div class="nav-buttons">
    <div class="nav-button" ng-repeat="item in navButtons">
      <a href={{item.url}} class="text-color-inverse">{{item.text}}</a>
    </div>
  </div>
</nav>

<body>
  <div id="loginStage" class="w3-container center" ng-controller="loginCtrl" ng-show="stage.focused">
    <div class="login-stage background-accent drop-shadow text-color-inverse">
      <form name="loginForm">
        <div class="row">
          <span class="col-md-4">Username</span>
          <input type="text" name="username" ng-model="username" required />
        </div>
        <br>
        <div class="row">
          <span class="col-md-4">Password</span>
          <input type="text" name="password" ng-model="password" required />
        </div>
        <br>
        <div class="row login-stage-submit">
          <button type="submit" class="btn col-md-6 text-color-primary" ng-click="login()">Login</button>
        </div>
        <div class="row" ng-show="error.exists">{{error.message}}</div>
      </form>
    </div>
  </div>
</body>

</html>